html
	head
		title Points
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

	body
		nav.navbar.navigation
			div.container
				div.menu.visible-xs
					i.fa.fa-bars(aria-hidden="true")
				div.logo
					img(src="img/Points.svg")
				div.hmenu.hidden-xs
					ul
						li 
							a(src="#") Home
						li
							a(src="#") administrador
						li
							a(src="#") Configuración
		section.menu-catalogo
			div.container
				ul 
					li
						a(src="#") Catálogos
					li
						a(src="#") Registros
					li
						a(src="#") Concsultas 
					li
						a(src="#") Configuración

		
		footer.points
			div.container
				div.row
					div.col-sm-12
						div.footer-logo
							img(src="img/Points-negro.svg")
						div.footer-info
							p Powered by Adsum Software experiencie Copyright 2016 . Aviso de privacidad  Designe in Proyeccione




