@import 'nib'
$primary-color = #4A4A4A
$nav-height = 5em
body
	.navbar
		background-color $primary-color
		color white
		.container
			display flex
			align-items center
			.logo
				
				display flex
				justify-content center
				img
					height $nav-height 
			.hmenu
				flex-grow 2
				ul
					
					text-align right
					li
						display inline
						padding 1em
						a
							color white
							
	.saldo-section

		h1
			color orange
			text-align center
		h3 
			text-align center
	.menu-section
		margin-top 3em
		ul
			text-align center
			li
				display inline
				a 
					padding 10px 20px
					list-style-type none
					color #9B9B9B
					text-decoration none
				a:hover
					border-bottom 3px solid orange
	.menu-catalogo
		.container
			ul
				text-align center
				li 
					display inline
					a
						padding 10px 20px
						list-style-type none
						color #9B9B9B
						text-decoration none
					a:hover
						border-bottom 3px solid #50E3C2
.body-login
	background-color #FC5555
	color white
	.login
		margin-top 11em
			
	
	form 
		margin auto
		padding 30px
		max-width 500px
		.login-modes
			text-align center
			img 
				width 100px
				padding 20px 
				cursor pointer
		h2
			text-align center
	
		input
			display block
			padding 6px
			width 100%
			margin 20px 0
			font-size 20px
			border-radius 10px
			border 1px solid white
		p
			text-align center
		button
			background-color #FC5555
			border 0
			border-radius 10px
			cursor pointer
			margin-bottom 1em
			width 100%
			padding 10px
			border 1px solid white
			
					
	.points
		margin-top 2em
		.container
			margin-top 2em
			border-top 1px solid #EEEEEE
			.row
				div
					.footer-logo
						margin-top 1.5em
						margin-bottom 1.5em
						text-align center
						img
							height 2.5em
					.footer-info
						text-align center
						margin-bottom 1.5em
							
				
