html
	head
		title Points
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, user-scalable=no")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
		link(href="css/index.css" rel="stylesheet")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")

	body.body-login
		div.nav
			div.container
				div.row
					div.col-sm-4
						img(src="img/points.svg")

		div.container.main-login
			div.row
					div.col-sm-6
						section.login
							h1 Bienvenido
							p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla erat leo, lobortis et arcu sit amet, dictum dapibus metus. Maecenas sed risus magna. Proin vitae pulvinar neque, non consectetur felis. Duis luctus enim tortor, at iaculis ante dictum id. Proin fermentum ipsum in risus pulvinar auctor. 
					div.col-sm-6
						form
							div.login-modes
								img(src="img/usuario.svg")
								img(src="img/cliente.svg")
							h2 Ingrese el formulario
							input(type='text', placeholder='Emisor')
							input(type='text', placeholder='Usuario')
							input(type='text', placeholder='Contraseña')
							button(type='submit') Ingresar
							p ¿Olividó la contraseña?
								a(href="#") Haga click para aquí
				
		
		footer.points
			div.container
				div.row
					div.col-sm-12
						div.footer-logo
							img(src="img/Points.svg")
						div.footer-info
							p Powered by Adsum Software experiencie Copyright 2016 . Aviso de privacidad  Designe in Proyeccione




